
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
langchain
pypdf
dotenv
langgraph
pytesseract
pdf2image
poppler-utils

tqdm
langchain_text_splitters
langchain_huggingface

langchain_chroma
sentence-transformers
langchain_openai
langchain_groq
langchain_deepseek
rapidfuzz
easyocr
faiss-cpu
laya